// Headings

h1,
.heading1 {
    font-size: 2rem;
}

h2,
.heading2 {
    font-size: 1.6rem;
}

h3,
.heading3 {
    font-size: 1.3rem;
}

h4,
.heading4 {
    font-size: 1.1rem;
}

h5,
.heading5 {
    font-size: .875rem;
}
