$header-height: 58px;

.page-header {
    background: $woodsmoke;
    color: $rolling-stone;
    height: $header-height;
    a {
        transition: color .3s ease;
        &:hover {
            color: $white;
        }
    }
    // Item
    &__item {
        width: calc(100% / 3);
    }
    // Logo
    &__logo {

    }
    // Navigation
    &__nav {
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        ul {
            li {
                display: inline;
            }
        }
    }
    // Icon
    &__icon {
        height: 40px;
        min-width: 40px;
        position: relative;
        width: 15%;
        @include flex-container();
    }
}

.icon {
    &__search {
        @include svg-sprite(search);
    }
    &__bell {
        @include svg-sprite(bell);
    }
    &__ellipse {
        &--active {
            @include svg-sprite(ellipse-1);
        }
    }
}
