<header class="page-header pos-relative">
    <div class="app-container flex-container-center">
        <div class="page-header__item flex-container-start">
            <%include src="header-logo/header-logo.html"%>
        </div>
        <div class="page-header__item">
            <%include src="header-navigation/header-navigation.html"%>
            <%include src="hamburger/hamburger.html"%>
        </div>
        <div class="page-header__item">
            <%include src="header-account/header-account.html"%>
        </div>
    </div>
</header>
