$button-border-color: #d9dce2;
$button-shadow-color: #e9ecf2;
$shadow-color: #e6e6e8;

%header-shadow {
    box-shadow: 0 1px 0 0 $shadow-color;
}

.dashboard-header {
    background: $white;
    color: $rolling-stone;
    font-size: .875rem;
    height: 48px;
    @extend %header-shadow;

    &__item {
        height: 100%;

        &--left {
            width: 80%;
        }

        &--right {
            //background: #30aed6;
            width: 20%;
        }
    }
}

.dashboard-filter {
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    height: 100%;
    margin-right: 20px;
    min-width: 100px;

    &--active {
        color: $woodsmoke;
        position: relative;

        &::after {
            background: $scooter;
            bottom: 0;
            content: '';
            height: 2px;
            left: 0;
            position: absolute;
            width: 100%;
        }
    }
}

.dashboard-button {
    background: none;
    border: 1px solid $button-border-color;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 $button-shadow-color;
    color: $rolling-stone;
    cursor: pointer;
    font-size: .8125rem;
    line-height: 1;
    padding: 9px;
    @include flex-container();

    &__text {
        padding: 0 5px;
    }

    &--active {
        border: 1px solid $gray-b;
        box-shadow: 0 1px 2px 0 $gray-d;
        color: $black;
    }

}

// ICONS
.icon {

    &-filter {
        margin: 0 3px;
    }

    &-squad {
        @include svg-sprite(squad-ico);

        &--active {
            @include svg-sprite(squad-ico-active);
        }
    }

    &-projects {
        @include svg-sprite(projects-ico);

        &--active {
            @include svg-sprite(projects-ico-active);
        }
    }

    &-ads {
        @include svg-sprite(ads-ico);

        &--active {
            @include svg-sprite(ads-ico-active);
        }
    }

    &-social-feed {
        @include svg-sprite(social-feed-ico);

        &--active {
            @include svg-sprite(social-feed-ico-active);
        }
    }

    &-edit {
        @include svg-sprite(edit-ico);

        &--active {
            @include svg-sprite(edit-ico-active);
        }
    }
}

