.page-header__hamburger {
    height: 24px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    &.hidden {
        display: none;
    }

    &.visible {
        display: block;
    }
}

.st0 {
    fill: none;
    stroke: $white;
    stroke-miterlimit: 10;
    stroke-width: 20;
}

.test-pull-request {
    display: block;
}
