<svg version="1.1" class="page-header__hamburger js-page-header__hamburger" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 320 180" xml:space="preserve">
    <g id="bottom">
	    <line class="st0" x1="33.5" y1="46.5" x2="288.5" y2="46.5"/>
    </g>
    <g id="mid">
	    <line class="st0" x1="33.5" y1="89.5" x2="288.5" y2="89.5"/>
    </g>
    <g id="top">
	    <line class="st0" x1="33.5" y1="132.5" x2="288.5" y2="132.5"/>
    </g>
</svg>
